{% extends 'base.html.twig' %}



{% block body %}

    <div class="row mt-3 ml-5">




        <div class="col-12 shadow p-3 mb-5 bg-white rounded">
            <h1 class="text-center">Create an article</h1><br>
            {{ form(article_form) }}
        </div>






    </div>

{% endblock %}
