{% extends 'base.html.twig' %}



{% block body %}

    <div class="row mt-3 ml-5">

        <div class="card border-success mb-3 mr-3" style="max-width: 20rem;">
            <div class="card-header">
                Header <i class="fa fa-heart-o love"></i>

            </div>
            <div class="card-body">
                <h4 class="card-title">Success card title</h4>
                <p class="card-text">
                    Some quick example text to build on the card title and make up the bulk of the card's content.
                </p>
            </div>
            <div class="card-footer">
                <a href="#" class="btn btn-action"></a>
            </div>


        </div>




    </div>

{% endblock %}
