{% extends 'base.html.twig' %}

{% block body %}

    <div class="row mt-5">

        {% for article in articles %}
            <div class="row mt-3 ml-5">

                <div class="card border-success mb-3 mr-3" style="max-width: 20rem;">
                    <div class="card-header">
                        Created By {{ article.author }}
                    </div>
                    <div class="card-body">
                        <h4 class="card-title">{{ article.title | upper }}</h4>
                        <p class="card-text">
                            {{ article.content | slice(0,530) }}... <a href="#" class="btn btn-link">Read</a>
                        </p>
                    </div>
                    <div class="card-footer">
                        <a href="{{ path('article_edit', { 'id': article.id   }) }}" class="btn btn-success">Edit</a>
                        <a href="{{ path('article_delete', {'id': article.id  }) }}" class="btn btn-danger">Delete</a>
                    </div>
                </div>
            </div>
        {% endfor %}

    </div>

{% endblock %}
